<!DOCTYPE html>
<html lang="en">
    <%- include('partial/header', {title: "Player"}); %>
    <body>
        <hr class="my-4">
        <div class="container">
            <div class="row">
                <form action="/player" method="post">
                    <div class="col-6">
                        <input type="text" id="player_asked" name="player_asked" required>
                    </div>
                    <div class="col-6">
                        <input type="submit" value="POST">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>