<!DOCTYPE html>
<html lang="en">
    <link href="/css/foundry.css" rel="stylesheet" type="text/css">
    <%- include('partial/header', {title: "Recipe"}); %>
    <script>
        $(function(){
            $('#catSelect').change( _ => {
                let cat = $('[name=category]').val()
                console.log('cat : '+cat);
                $.ajax({
                    url: "recipe/get-category",
                    data: {category : cat},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    }
                });
                // Get the list of all items for this category, then display them in the option of "itemSelect"
            });
            // $('#searchRecipe').click( _ => {
            //     $('#reciperesult').empty();
            //     city = $('[name=city]').val();
            //     $('#reciperesult').append("This is a succes !");
            // });
        });


    </script>
    <body>
        <hr class="my-4">
        <div class="container">
                <form>
                    <div class="form-row">
                        <div class="col-4">
                            <select id="catSelect" name="category" class="form-control">
                                <option value="" disabled selected>Category</option>
                                <% if(categories !== null) { %>
                                  <% categories.forEach(y=>{y=y.replace('.json','') %>
                                <option label="<%= y %>" value="<%= y %>" > <%= y %></option>
                                <% });%>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-4">
                                <select id="itemSelect" name="item" class="form-control">
                                    <option value="" disabled selected> Item </option>
                                </select>
                        </div>
                        <!--                        <div class="col-3">
							<select name="city" class="form-control">
                                <option value="" disabled selected>City</option>
                                <%# cities.forEach(y=> { %>
                                    <option label="<%#= y %>" value="<%#= y %>" > <%#= y %></option>
                                <%# });%>
                            </select>
                        </div>              -->
                        <div class="col-4">
                            <button type="button" id="searchRecipe" class="btn btn-primary btn-block"><i class="fa fa-search"></i>Search Recipe</button>
                        </div>
                    </div>
                </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12" id="reciperesult">

                </div>
            </div>
        </div>
    </body>
</html>
