body {
    background: #222;
    color: #fff;
}

a {
    color: cadetblue;
}

a:hover {
    color: cornflowerblue;
}

a:focus {
    color: white;
}

p.capitalize {
    text-transform: capitalize;
}

p.silver{
    position: relative;
}

p.silver::after {
    content: url('../img/coins.png');
    height: 24px;
    width: 25px;
    margin-left: 5px;
    position: absolute;
}

.T2{background-color:#b7b7b7;}
.T3{background-color:#52823d;}
.T4{background-color:#6fa8dc;}
.T5{background-color:#e06666;}
.T6{background-color:#e69138;}
.T7{background-color:#ffd966;}
.T8{background-color:#FFFFFF;}

.enchant1{color:green !important;}
.enchant2{color:dodgerblue !important;}
.enchant3{color:mediumpurple !important;}


